.review-container-modal {
  align-items: center;
}

.textarea-display {
  width: 100%;
  height: 100px
}

.inputOfTextarea {
  height: 90%;
}

.submit-button-review {
  height: 30px;
  background-color: #FF385C;
  width: 100%;
  text-align: center;
  border: 1px black inset;
}

.enabled {
  color: white;
  padding: 9px;
}

.disabled {
  color: lightgray;
  padding: 9px;
}

.stars-container-modal {
  margin: 10px;
}
